@font-face {
    font-family: "Montserrat-Bold"; 
    src: url("/fonts/Montserrat-Bold.ttf");
 }
 
 @font-face {
     font-family: "Montserrat-Regular"; 
     src: url("/fonts/Montserrat-Regular.ttf");
  }
*{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat-Regular";
    font-size: 14pt;
    color: #8e8f91;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap: 50px;
}

.header{
    grid-column: span 12;
    position: relative;
    top: 0;
}

.header img{
    height: 100vh;
    width: 100%;
}

.header .black_blok{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.329);
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
}



.header .black_blok .logo img{
    width: auto;
    height: auto;
    display: inline;
}

.header .black_blok .logo p{
    font-family: "Montserrat-Bold"; 
    font-size: 30pt;
    display: inline-flex;
    padding: 60px 0px 0px 7px;
}

.header nav{
    grid-column: 3/4;
}
.header nav ul li{
    display: inline-block;
    font-size: 18pt;  
    padding: 60px 0px 0px 45px 
}
.header nav ul li a{
    color: white;
   
}

.header .center{
    grid-column: 2/3;
}
.header .center h2{
    font-size: 92pt;
    font-family: "Montserrat-Bold";
    padding-bottom: 30px;
}
.header .center h2 span{
    color: #ed6950;
}

.header .center p{
    font-size: 19pt;
    color: #8e8f91;
    padding-bottom: 50px;
}

.header .center input{
    height: 52px;
    width: 232px;
    margin: 30px 0px 60px 0px;
    border-radius: 41px;
    border: none;
    font-family: "Montserrat-Bold";
    background-color: #ffc74a ;
    color: #b98000;
}

.header .title{
    grid-column: 2/3;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header .title p{
    font-size: 19pt;
    padding-bottom: 45px;
}

.main{
    grid-column: 3/11;
}

.main .ofers {
    display: grid;
    grid-template-rows: 134px 72px 100px 1fr;
}

.main .ofers ul{
    display: inline-flex;  
}
.main .ofers .txt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat-Bold"; 
    font-size: 30pt;
    color: rgba(0, 0, 0, 0.788);
}

.main .ofers .search 
     {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
      }

.main .ofers .search input{
   font-size: 18pt;
    width: 1200px;
    height: 100%;
    border: none;
}

.main .ofers .search button{
   background-image: url("/img/Search.png");
   background-size: contain;
   height: 32px;
   width: 32px;
   border: none;
   background-color: rgb(255, 255, 255);
}

.main .ofers .menu {
    display: flex;
    justify-content: space-around;
}

.main .ofers .menu ul li{
    padding-left: 10px;
}

.main .ofers .menu ul li input{
    height: 52px;
    margin: 30px 0px 60px 0px;
    border-radius: 41px;
    border: none;
    font-family: "Montserrat-Bold";
    background-color: #bdc8d9c9 ;
    color: #8e8f91;
}

.main .ofers .menu ul li input:hover{
    background-color: #ffc74a ;
    color: #ffffff;
}

/*--------ofer list-- start- */
.main .ofers .slots{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    column-gap: 30px;
    row-gap: 30px;
}

.main .ofers .slots .item{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.main .ofers .slots img{
    height: 50%;
    width: 100%;
    border-radius: 2px;
    padding: 8px 3px 0px 3px;
}

.main .ofers .slots h1{
    font-size: 30pt;
    padding: 29px 0px 5px 0px;
    color: rgb(97, 93, 93);
}

.main .ofers .slots input{
    height: 37px;
    width: 166px;
    margin: 30px 0px 60px 0px;
    border-radius: 18px;
    color: #8e8f91;
    border: none;
    font-family: "Montserrat-Bold";
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.main .ofers .slots input:hover{
    background-color: #ffc74a ;
    color: #b98000;
}

.main .ofers .slots .poznan{
    grid-column: 1/5; 
}
.main .ofers .slots .warsaw{
    grid-column: 5/9
}
.main .ofers .slots .wroclaw{
    grid-column: 9/13
}

.main .ofers .slots .karpacz{
    grid-column: 1/5
}
.main .ofers .slots .dolina{
    grid-column: 5/9
}
.main .ofers .slots .kozy{
    grid-column: 9/13
}
/*--------ofer list-- end----- */

/*--------info about city---start---*/
.main .about_city{
    display: grid;
    grid-template-rows: 160px 1fr;
}

.main .about_city .city_name{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: "Montserrat-Bold"; 
    font-size: 30px;
}

.main .about_city .info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main .about_city .info h2{
    font-family: "Montserrat-Bold"; 
    font-size: 36pt;
    color: #f8c759;
}
.main .about_city .info .blok1{
    padding-left: 8px;
}

.main .about_city .info .blok1 p{
    padding: 70px 67px 70px 0px;
    line-height: 2;
}

.main .about_city .info .blok1 input{
    height: 37px;
    width: 166px;
    margin: 30px 0px 60px 0px;
    border: none;
    border-radius: 18px;
    color: #8e8f91;
    font-family: "Montserrat-Bold"; ;
}

.main .about_city .info .blok1 input:hover{
    background-color: #ffc74a ;
    color: #b98000;
}
.main .about_city .info .draw{
    position: relative;
}

.main .about_city .info .draw img{
    height: 83% ;
    width: 100%;
}

.main .about_city .info .draw .yellowblok{
    position: absolute;
    z-index: -1;
    left: 45px;
    top: 38px;
    height: 85%;
    width: 100%;
    border: 15px solid orange;
}
/*--------info about city---end----*/

.section{
    grid-column: 1/13;
    position: relative;
}

.section img{
    width: 100%;  
}

.section .blok{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
}

.section .blok .txtblok{
    grid-row: 2/3;
}

.section .blok .txtblok h2{
    font-family: "Montserrat-Bold"; 
    font-size: 92pt;
    color: white;
}

.section .blok .txtblok input{
    height: 50px;
    width: 150px;
    margin: 50px 0px ;
    border: none;
    border-radius: 48px;
    background-color: #ffc74a ;
    color: #b98000;
    font-family: "Montserrat-Bold"; 
}

.section .blok .txtblok p{
    font-size: 19pt;
}
.section .blok .txtblok p a{
    color: #ffc74a;;
}

.footer{
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer img{
    padding: 166px 0px 30px 0px ;
}

.footer p{
    font-family: "Montserrat-Bold";
    font-size: 24pt;
    color: #8e8f91;
    margin-bottom: 160px;
}