
 @font-face {
     font-family: "Valera"; 
     src: url("../fonts/VarelaRound-Regular.ttf");
  }
*{
    box-sizing: border-box;
}

:root{       
    --orange:  #ffffff;
    --hovercollor: #fc1d00e8;
    --border_radius: 5px
}
body{
    font-family: "Valera";
    font-size: 14pt;
    color: #8e8f91;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    column-gap: 50px;
}



body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}




.header{
    grid-column: span 12;
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;  
}

video{
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover}


.header .black_blok{
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    display: grid;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.329);
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
}

.header .black_blok .logo{
    padding: 50px 0px 0px 0px;
}

.header .black_blok .logo img{
    width: 60px;
    height: 80px;
    display: inline-block;
}

.header .black_blok .logo p{
    padding-left: 10px; 
    font-size: 35pt;
    display: block;
}

.header nav{
    grid-column: 3/4;
}
.header nav ul{
    margin: 120px 80px 0px 0px;
}
.header nav ul li{
    display: inline-block;
    font-size: 18pt;  
    padding: 0px 0px 0px 45px 
}
.header nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 24pt;
}

.header nav ul li a:hover{
    padding-bottom: 8px;
    border-bottom: 2px solid #ff0000;
    text-transform: capitalize;
    transition:all .33s linear;
    color: var(--hovercollor);
}


.header .center{
    grid-column: span 3;
}
.header .center h2{
    font-size: 100pt;
    padding-bottom: 60px;
}
.header .center h2 span{
    color: var(--hovercollor);
}

.header .center p{
    font-size: 21pt;
    color: #ffffffad;
    padding-bottom: 50px;
}



.header .title{
    grid-column: span 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .title p{
    font-size: 19pt;
    padding-top: 90px;
}




.main{
    grid-column: 3/11;
}



.main .ofers ul{
    display: inline-flex;  
}
.main .ofers .txt{
    display: flex;
    justify-content: center;
    align-items: center;
     
    font-size: 30pt;
    color: rgba(0, 0, 0, 0.788);
}

.main .ofers .txt h2{
    margin: 60px 0;}

.main .ofers .search 
     {
         display: flex;
         flex-direction: row;
         justify-content: center;
         align-items: center;
      }

.main .ofers .search input{
   font-size: 18pt;
    width: 1200px;
    height: 100%;
    border: none;
}

.main .ofers .search button{
   background-image: url("/img/Search.png");
   background-size: contain;
   background-repeat: no-repeat;
   height: 32px;
   width: 32px;
   border: none;
   background-color: rgb(255, 255, 255);
}

.main .ofers .menu {
    display: flex;
    justify-content: space-around;
}

.main .ofers .menu ul li{
    padding-left: 10px;
}

.main .ofers .menu ul li input{
    height: 52px;
    margin: 30px 0px 60px 0px;
    border-radius: var(--border_radius);
    
    padding: 0px 14px;
    border: 1px solid #ccc;
    background-color: #ffffffc9 ;
    color: #8e8f91;
}

.main .ofers .menu ul li input:hover{
    background-color: var(--orange) ;
    color: white;
    border: 1px solid var(--hovercollor);
    background: var(--hovercollor);
}

/*--------ofer list-- start- */
.main .ofers .slots{
    max-height: 900px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
    column-gap: 30px;
    row-gap: 30px;
    overflow: scroll;
}

.main .ofers .slots::-webkit-scrollbar{
    width: 7px;
    height: 0px;
}

.main .ofers .slots::-webkit-scrollbar-track{
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
}

.main .ofers .slots::-webkit-scrollbar-thumb{
    background-color: var(--hovercollor);
    border-radius: 60px;
}



.main .ofers .slots .item{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
    background-color: rgb(255, 255, 255);  
}

.main .ofers .slots ol{
    margin-left: 50px;
}

.main .ofers .slots img{
    border-radius: 8px;
    padding: 8px 3px 0px 3px;
    height: 100%;
    width: 100%;
}

.main .ofers .slots h1{
    font-size: 30pt;
    padding: 29px 0px 5px 0px;
    color: rgb(97, 93, 93);
}

.main .ofers .slots input{
    height: 37px;
    width: 166px;
    margin: 30px 0px 60px 0px;
    border-radius: var(--border_radius);
    color: #8e8f91;
    border: none;
    
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
}
.main .ofers .slots input:hover{
    background-color: var(--orange) ;
    color: white;
    border: 1px solid var(--hovercollor);
    background: var(--hovercollor);
}

/*--------ofer list-- end----- */

/*--------info about city---start---*/
.main .about_city{
    margin-bottom: 100px;
}
.main .about_city .city_name{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px;
}


.main .about_city .city_name h1{
    margin: 50px 0 70px 0;
}

.main .about_city .info .slider3 .item{
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    position: relative;
}




/* Стрелка влево */
.main .about_city .info .slider3 .slick-arrow.slick-prev{
 }
 /* Стрелка вправо */
 .main .about_city .info .slider3 .slick-arrow.slick-next{
 }

 .slick-dots{
     display: flex;
     flex-direction: row;
     column-gap: 15px;
    
     
 }
.slick-dots li{
    list-style: none;
    position: relative;
    
   
   
}
/* Активная точка */
.slick-dots li.slick-active button{
   background-color: var(--hovercollor);

}
/* Элемент точки */
.slick-dots li button{
    position: absolute;
    top: 0;
    height: 10px;
    width: 10px ;
    font-size: 0;
    border: none;
    padding: 0px;
    border-radius: 50%;
   
}



.main .about_city .info h2{
     text-align: center;
    font-size: 36pt;
    color: var(--hovercollor);
}
.main .about_city .info .blok1{
    padding-left: 8px;
}

.main .about_city .info .slider3 .blok1 p{
    padding: 70px;
    line-height: 2;
}

.main .about_city .info .blok1 input{
    height: 37px;
    width: 166px;
    margin: 30px 0px 60px 0px;
    border: none;
    order: 1px solid #ccc;
    color: #777;
    font-family: "Valera"; 
    font-size: 10pt;
}

.main .about_city .info .blok1 input:hover{
    background-color: var(--orange) ;
    color: white;
    border: 1px solid var(--hovercollor);
    background: var(--hovercollor);
}
.main .about_city .info .draw{
    position: relative;
}

.main .about_city .info .draw img{
    height: 90% ;
    width: 90%;
}
.main .about_city .info .draw iframe{
    height: 90% ;
    width: 90%;
}
.main .about_city .info .draw .yellowblok{
    position: absolute;
    z-index: -1;
    left: 45px;
    top: 38px;
    height: 90%;
    width: 90%;
    border: 15px solid var(--hovercollor);
    background-image: url("../img/Loading.svg");
    background-repeat: no-repeat;
    background-position: center center
}
/*--------info about city---end----*/

.section{
    grid-column: 1/13;
    position: relative;
}

.section img{
    width: 100%;
    filter: brightness(40%);  
}


.section .blok{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    text-align: center;
}

.section .blok .txtblok{
    grid-row: 2/3;
}

.section .blok .txtblok h2{
     
    font-size: 92pt;
    color: white;
}

.section .blok .txtblok input{
    height: 50px;
    width: 150px;
    margin: 50px 0px ;
    border: none;
    border-radius: 3px;
    background-color: var(--orange) ;
     
}


.section .blok .txtblok input:hover{
    color: white;
    border: 1px solid var(--hovercollor);
    background: var(--hovercollor);
}

.section .blok .txtblok p{
    font-size: 19pt;
}
.section .blok .txtblok p a{
    color: var(--orange);;
}

.section .blok .txtblok p a:hover{
    color: var(--hovercollor);
}

.footer{
    grid-column: span 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer img{
    padding: 166px 0px 30px 0px ;
}

.footer p{
    
    font-size: 24pt;
    color: #8e8f91;
    margin-bottom: 160px;
}


.slider{
    grid-column: span 12;
    position: relative;
    padding: 0px 60px;
    margin-top: 60px;
    
}

.slider img{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 7px;
}

.slider h1{
    padding-top: 50%;
    color: rgb(255, 255, 255); 
    font-size: 30pt;
    text-shadow: rgb(0, 0, 0) 0 0 2px;
}

.slider p{
    font-size: 21px;
    padding: 15px 0px 95px 0px;
    color: white;
    text-shadow: rgb(0, 0, 0) 0 0 2px;
}

.slider input{
    display: block;
    margin: 0px; 
    height: 37px;
    width: 166px;
    border: none;
    border-radius: var(--border_radius);
    font-size: 10pt;
}

.slider input:hover{
    background-color: var(--orange) ;
    color: white;
    border: 1px solid var(--hovercollor);
    background: var(--hovercollor);
}

/* Слайд */
.slick-slide{
    position: relative;
    margin: 0px 6px;
    transition: all 0.3s ease 0s;
}


.slider .txtblokslider{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 7px;
    overflow:hidden ;  
    word-break: break-all;
}



/* Слайдер */
.slick-slider{
    position: relative;
}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}


/* Слайд активный (показывается) */
.slick-slide.slick-active{

}
/* Слайд основной */
.slick-slide.slick-current .txtblokslider{
    background-color: rgba(243, 243, 243, 0)}

    .slick-slide.slick-current .txtblokslider h1{
        color: red;
    }

.slick-slide.slick-current .txtblokslider input{
    display: block;
    background-color: var(--orange) ;
    color: white;
    border: 1px solid var(--hovercollor);
    background: var(--hovercollor);    
}
.slick-slide .txtblokslider:hover{
    background-color: rgba(243, 243, 243, 0)    
    }

/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{ 
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0px;
    background-color: rgba(226, 226, 238, 0.986);
    border-radius: 50%;
    border: none;
}

.slick-arrow:hover{
    background-color: var(--hovercollor);
}
/* Стрелка влево */
.slick-arrow.slick-prev{
   left: 0;
   background-image: url("../img/prewev.png");
   background-size: 100%;
   background-repeat: no-repeat;
   width: 40px;
   height: 40px;
   margin-left: 10px ;
  
}
/* Стрелка вправо */
.slick-arrow.slick-next{
    right:0;
    background-image: url("../img/next.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin-right: 10px ;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{
}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}








/*--POP up--*/

.pop a {
  display: flex;
  margin: 30px 20px;
  border: 1px solid #ccc;
  color: #777;
  text-decoration: none;
  height: 50px;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-radius: var(--border_radius);
}
.pop a:hover {
  color: white;
  border: 1px solid var(--hovercollor);
  background: var(--hovercollor);
}
.overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
  /* фон затемнения */
  background-color: rgba(0, 0, 0, 0.65);
  position: fixed; /* фиксированное поцизионирование */
  cursor: default; /* тип курсара */
}
/* активируем слой затемнения */
.overlay:target {
  display: block;
}
/* стили модального окна */
.popup {
  display: grid;
  grid-template-rows: 250px;
  
  justify-content: center;
 
  top: -100%;
  right: 0;
  left: 50%;
  z-index: 20;
  margin: 0;
  width: 54%;
  /* фиксированное позиционирование, окно стабильно при прокрутке */
  position: fixed;
  padding: 15px;
  border: 1px solid #383838;
  background: #fefefe;
  /* скругление углов */
  border-radius: 4px;
  /* внешняя тень */
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22), 0 19px 60px rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -500%);
  transition: transform 0.6s ease-out;
}

.popup .about_trip{
    text-align:justify;
    line-height: 1.5;

}

.popup .about_trip span{
    color: black;
    font-weight: bold;
}


.popup .map iframe{
    width: 100%;
}

.popup input {
    margin: 30px 0 !important;
    border-radius: 3px !important;
   
    
}

.popup h1  {
    text-align: center;
    color: var(--hovercollor) !important;
}



.popup .price span{
    font-size: 55px;
}
/* активируем модальный блок */
.overlay:target + .popup {
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  top: 7%;
}
/* формируем кнопку закрытия */
.close {
  top: 20px;
  right: 24px;
  height: 40PX;
  width: 40px;
  position: absolute;
  background-color:none;
  background-image: url("../img/close_icon.png");
  background-size: cover;
  border-radius: 50%;

}
.close:hover {
    background-image: url("../img/close_icon_hover.png");
}

.popup .button {
    display: flex;
    justify-content: center;
}



/* Слайдер */
.slider2{
    position: relative;
    min-width: 0;
}

.slider2 img{
    padding: 0 !important;
    height: 100%;
   
    border-radius: 0px !important;
}


.slider2 .slick-slider{
   
  }

  .slider2 .slider_item{
     
 
    height: 250px;
      display: flex;
    justify-content: center;
  }


  /* Слайдер запущен */
  .slider2 .slick-slider.slick-initialized{}
  /* Слайдер с точками */
  .slider2 .slick-slider.slick-dotted{}
  /* Ограничивающая оболочка */
  .slider2 .slick-list {
      overflow: hidden;
        height: 100%;
  }
  /* Лента слайдов */
  .slider2 .slick-track{
    display: flex;
  }
  /* Слайд */
  .slider2 .slick-slide{}
  /* Слайд активный (показывается) */
  .slider2 .slick-slide.slick-active{}
  /* Слайд основной */
  .slider2 .slick-slide.slick-current{}
  /* Слайд по центру */
  .slider2 .slick-slide.slick-center{}
  /* Клонированный слайд */
  .slider2 .slick-slide.slick-cloned{}
  /* Стрелка */
  .slider2 .slick-arrow{
  }
  /* Стрелка влево */
  .slider2 .slick-arrow.slick-prev{}
  /* Стрелка вправо */
  .slider2 .slick-arrow.slick-next{}
  /* Стрелка не активная */
  .slider2 .slick-arrow.slick-disabled{}
  /* Точки (булиты) */
 
  .slider2 .slick-dots li{}
  /* Активная точка */
  .slider2 .slick-dots li.slick-active{}
  /* Элемент точки */
  .slider2 .slick-dots li button{}




  @media (max-width:688px){
  .header .center h2 span{
    color: rgb(255, 196, 0);
}}
  @media (min-width: 689px) and (max-width: 992px){
    .header .center h2 span{
        color: rgb(30, 255, 0);
    }
  }
  @media (min-width: 993px) and (max-width: 1312px){
    .header .center h2 span{
        color: rgb(55, 0, 255);
    }
  }
 
  @media (min-width: 1312px) and (max-width: 2200px){
    .header .center h2 span{
        color: rgb(255, 0, 212);
    }

    .main .about_city .info .slider3 .item{
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns:none;
    }

    .main .about_city .info  .slider3 .blok1{
        grid-row: 2/3;
    }

    .main .about_city .info .slider3 .draw iframe{
        height: 100%;
        width: 100%;
    }

    .main .about_city .info .slider3 .blok1{
        box-sizing: border-box;
        padding-top: 20px ;
    }

    .slider3 .slick-dots {
        justify-content: center;}
   
   .slider3 .slick-arrow{
      top:75%
        }

    .header nav {
            grid-column: 2/4;
            padding-left: 35%;
        }
    
    .header nav ul {
            margin: 120px 0px 0px 0px;
        }

    .popup {
        width: 50%;
    }    
  }