@font-face {
    font-family: 'Roboto';
    src:url("../fonts/TextLight.otf")  format("opentype");
  }
  
  * {box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  
  html{
    box-sizing: border-box;
  }
  
  body{
    margin: 0px;
    font-family: 'Roboto', "Сyrylik";
    font-style: normal;
  }
  
  header{
    height: 100%;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  }
  
  /*-----------------------HEADER--------------------*/

.wraper{
    background-color: rgb(255, 255, 255);
    max-width: 997px;
    margin: 0 auto;
    height: 72px;
    position: relative;
  }
  
  .wraper .logo{
    max-width: 120px;
    position: absolute;
    top: 20px;
  }
  
  .wraper a img{
    max-width: 31px;
    max-height: 40px;
  }
  
  .wraper input{
    width: 78px;
    height: 40px;
    position: absolute;
    left: 850px;
    top: 16px;
    outline: none;
    border: 0.5px solid grey;
    border-radius: 16px;
    background: #FFFFFF;
  }
  
  .wraper input:hover{
    transition: 0.2s;
    transition-timing-function: ease-in-out;
    box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  }
  
  .wraper input:active{
    background-color: black;
    color: #FFFFFF;
  }
  
  .wraper #basket{
    position: absolute;
    left: 965px;
    top: 25px
  }
  
  
  section {
    max-width: 997px;
    margin:  0px auto;
    height: 100%;
    position: relative;
  }
  
  section h1{
    position: absolute;
    bottom: 15%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) ;
    font-size: 30px;
    font-weight: bold;
  }

  section img{
      height: 100%;
      width: 100%;
  }

  section input{
    position: absolute;
    top: 48%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-52%, -50%) ;
    height: 7%;
    width: 19%;
    padding: 0px 8px;
    outline: none;
    border: 1px rgba(109, 106, 106, 0.39) solid;
    border-radius: 10px ;
    cursor: pointer;
    background-image: url("../img/mylogo.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
  }
  
  section input:hover{
    
  }

  section input:active{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.753);
  }
  
  /*-----------------------FOOTER--------------------*/
  
 
  footer a {
    color: #FFFFFF;
    text-decoration: none;
  }
  
  footer a:hover{
    text-decoration: underline;
  }
  
  
  footer {
    grid-template-rows: repeat(4, 1fr);
    color: white;
  }
  
  footer .footercontainer{
    max-width: 997px;
    margin: 0 auto;
    position: relative;
  }
  
  footer .header{ 
    padding-top: 56px;
  }
  
  footer .header .logo img{
    max-width: 190px;
    max-height: 20px;
  }
  
  footer .medium {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
  }
  
  footer .apps{
    text-align: center;
    margin: 41px 0px 39px 0px; 
  }
  
  
  .link1{
    display: inline-block;
    margin-right: 50px;
  }
  
  .link2{
    display: inline-block;
  }
  
  
  .footer{
    -ms-grid-column-span: 12;
    grid-column: span 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
 }
 
 .footer p{
    font-size: 30px;
 }
 
 .footer .txtcontact{
    font-size: 32pt;
    color: black;
    font-weight: bold;
 }
 
 .footer p:first-child , .footer p:last-child{
    margin: 30px 0px;
 }
 
 .footer #rights{
    font-size: 12pt;
 }
 
 .footer img{
    padding: 166px 0px 30px 0px ;
 }
 
 .footer .blok{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
 }
 
 .footer .blok iframe{
    height: 100%;
    width: 100%;
 }
 
 .footer .blok .icons{
     display: -ms-grid;
     display: grid;
     -ms-grid-rows: 40px 20px 40px 20px 40px 20px 40px;
     grid-template-rows: repeat(4, 40px);
     color: black;
     row-gap: 20px;
 }
 
 .footer .blok .icons ul li{
     display: inline;
     padding-left: 20px;
 }
 
 .footer .blok .icons h1{
    font-size: 29pt;
    text-align: center;   
 }
 
 .footer .blok .icons p{
    font-size: 16pt;
 }
 
 .footer .blok .icons .phone,.emial, .footer .blok .icons ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
 }
 
 .footer .blok .icons .phone img, 
 .footer .blok .icons .emial img{
     height: 25px;
     width: 25px;
 }
 
 .footer .blok .icons img{
     margin: 0px;
     padding: 0px;
     height: 60px;
     width: 60px;
     
 }
 
 .footer .blok .icons a{
     position: relative;
     text-decoration: none;
     color: black;
    font-size: 20pt;       
 }
 
 .footer .blok .icons .emial a:hover::after, .footer .blok .icons .phone a:hover::after {
    content: attr(data-title); /* Выводим текст */
    position: absolute; /* Абсолютное позиционирование */
    left: 20%; top: 30%; /* Положение подсказки */
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    background: rgb(255, 255, 230); /* Полупрозрачный цвет фона */
    font-family: Arial, sans-serif; /* Гарнитура шрифта */
    font-size: 11px; /* Размер текста подсказки */
    padding: 5px 10px; /* Поля */
    border: 1px solid #333; /* Параметры рамки */
   }



  ul{
    list-style-type:none
  }
  
  li{
    margin-bottom: 23px;
  }
  
  
  @media screen and (max-width: 968px) {
    .wraper input, .wraper a{
      left: auto;}
    
    .wraper .logo{
      left: 8px;
    }
    
    .wraper input{
      right: 24px;
    }
  
    .wraper a{
      right: 25px;
    }
  
    section input{
   
        cursor: pointer;
        
      }
  
    footer .medium .blok p{
    padding-bottom: 19px;
    margin-top: 15px;
    }
  
    footer .footercontainer{
      font-size: 13px;
    }
  
    footer .footercontainer {
      padding-left: 8px;
    }
    footer .footercontainer img{
      width: 100%;
    }
    
    footer .apps img{
      height: 35px;
    }
  
    .blok1 .it img{
      width: 18px;
    }
  
  
  }
  

  
  @media screen and (max-width: 623px) {
    
    .wraper .logo{
      left: 8px;
    }
    .wraper input{
      right: 16px;
    }
    

    section input{
        cursor: pointer;
        height: 9%;
        width: 17%;
      }


    section h1{
        font-size: 16px; 
    }  

    footer .medium{
      grid-template-columns:  1fr;
      row-gap: 20px;
    }
  
    footer .apps {
      margin: 22px 0px 18px 0px;
  }
  
    footer .footercontainer .footergrid{
      grid-template-columns:  1fr;
      row-gap: 30px;
    }
  
  }
  
  
  @media screen and (prefers-reduced-motion: no-preference) {
    html,
    body {
      scroll-behavior: smooth;
    }
  }